<div class="container-sm d-flex flex-column align-items-center text-center pt-5 px-5">
  <h1 class="ef-title">
    EcoFly: Calculate your flight’s ecological footprint
  </h1>

  <p class="ef-text my-4 ef-header-text">
    Welcome to EcoFly, your online tool for calculating the ecological footprint of your air travel. Enter your
    departure and arrival city to find out the environmental impact of your flight. With EcoFly, you can make more
    informed decisions to reduce your impact on the planet.
  </p>
</div>
