<div class="container-sm d-flex flex-column align-items-center text-center pt-5 px-5">
  <h1 class="ef-title">
    EcoFly: Calcola l'impronta ecologica del tuo volo
  </h1>

  <p class="ef-text my-4 ef-header-text">
    Benvenuto su EcoFly, il tuo strumento online per calcolare l'impronta ecologica dei tuoi viaggi aerei. Inserisci la
    città di partenza e quella di arrivo per scoprire l'impatto ambientale del tuo volo. Con EcoFly, puoi prendere
    decisioni più consapevoli per ridurre il tuo impatto sul pianeta.
  </p>
</div>
