<div class="d-flex flex-column justify-content-center align-items-center">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="w-50 ef-form" *ngIf="!result">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group mt-2">
          <label for="originCode" class="ef-form-label">Departure airport:</label>
          <input type="text" placeholder="Departure airport.." id="originCode" class="form-control"
                 formControlName="originCode" required (change)="getAirportOrigin()"/>
          <ng-template *ngIf="isLoading">Loading</ng-template>
        </div>
        <div class="form-group mt-2">
          <label for="destinationCode" class="ef-form-label">Destination airport:</label>
          <input type="text" placeholder="Destination airport.." id="destinationCode" class="form-control"
                 formControlName="destinationCode" required (change)="getAirportDestination()"/>
        </div>
        <div class="form-group mt-2">
          <label for="passengers" class="ef-form-label">Number of passengers:</label>
          <input type="number" placeholder="Number of passengers.." id="passengers" class="form-control"
                 formControlName="passengers" required/>
        </div>
        <div class="form-group mt-2">
          <label class="ef-form-label">Flight class:</label>
          <ng-select
            [items]="cabin_classes"
            class="form-control"
            bindLabel="label"
            bindValue="value"
            placeholder="Select the flight class"
            formControlName="cabinClass"
            [multiple]="false"
            required>
          </ng-select>
        </div>
        <div class="form-group mt-2">
          <label class="ef-form-label">Currency:</label>
          <ng-select
            [items]="currencies"
            class="form-control"
            bindLabel="label"
            bindValue="value"
            placeholder="Select your currency"
            formControlName="currency"
            [multiple]="true"
            required>
          </ng-select>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="!result">
      <div class="col-md-12 text-center my-4 pb-5">
        <button type="submit" class="btn mt-3 ef-btn-cta" [disabled]="!form.valid" (click)="onSubmit()">Calculate your footprint</button>
      </div>
    </div>

  </form>


  <div class="result-wrapper" *ngIf="result">
    <h3 class="text-center mt-4 ef-title">Your flight footprint</h3>
    <p class="text-center ef-text mt-4">Total footprint: <span class="result-footprint">{{ footprintPerPassenger }} kg CO2e</span></p>
    <p class="text-center ef-text mt-3">Footprint per passengers: <span class="result-footprint">{{ result.footprint }} kg CO2e</span></p>
    <p class="text-center ef-text mt-3">Amount:</p>
    <div class="card-wrapper d-flex flex-wrap justify-content-center">
      <div class="card m-2 p-3 text-center mt-3" *ngFor="let offset of result.offset_prices">
        <h5>{{ offset.amount }} {{ offset.currency }}</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center mt-5 pb-5">
        <button type="submit" class="btn mt-3 ef-btn-cta" (click)="goBack()">Back</button>
      </div>
    </div>
  </div>


  <div *ngIf="isLoading">
    <p-progressSpinner></p-progressSpinner>
  </div>

</div>

