<div class="d-flex flex-column justify-content-center align-items-center">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="w-50 ef-form" *ngIf="!result">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group mt-2">
          <label class="ef-form-label">Departure airport:</label>
          <ng-select
            [items]="airports"
            class="form-control"
            bindLabel="name"
            bindValue="id"
            placeholder="Departure airport.."
            formControlName="originCode"
            (change)="getAirportOrigin($event)"
            required>
          </ng-select>
        </div>
        <div class="form-group mt-2">
          <label class="ef-form-label">Destination airport:</label>
          <ng-select
            [items]="airports"
            class="form-control"
            bindLabel="name"
            bindValue="id"
            placeholder="Destination airport.."
            formControlName="destinationCode"
            (change)="getAirportDestination($event)"
            required>
          </ng-select>
        </div>
        <div class="form-group mt-2">
          <label for="passengers" class="ef-form-label">Number of passengers:</label>
          <input type="number" placeholder="Number of passengers.." id="passengers" class="form-control"
                 formControlName="passengers" required/>
        </div>
        <div class="form-group mt-2">
          <label class="ef-form-label">Flight class:</label>
          <ng-select
            [items]="cabin_classes"
            class="form-control"
            bindLabel="label"
            bindValue="value"
            placeholder="Select the flight class"
            formControlName="cabinClass"
            [multiple]="false"
            required>
          </ng-select>
        </div>
        <div class="form-group mt-2">
          <label class="ef-form-label">Currency:</label>
          <ng-select
            [items]="currencies"
            class="form-control"
            bindLabel="label"
            bindValue="value"
            placeholder="Select your currency"
            formControlName="currency"
            [multiple]="true"
            required>
          </ng-select>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="!result">
      <div class="col-md-12 text-center my-4 pb-5">
        <button type="submit" class="btn mt-3 ef-btn-cta" [disabled]="!form.valid">
          Calculate your footprint
        </button>
      </div>
    </div>

  </form>

  <div class="result-wrapper" *ngIf="result">
    <p-card header="Your flight footprint">
      <div class="m-0 d-flex flex-column text-center">
        <h5 class="text-center ef-title mt-4">Total footprint:</h5>
        <p class="result-footprint mb-3 ef-text">{{ footprintPerPassenger }} kg CO2e</p>

        <h5 class="text-center ef-title mt-4">Footprint per passengers:</h5>
        <p class="result-footprint mb-3 ef-text">{{ result.footprint }} kg CO2e</p>

        <h5 class="text-center ef-title mt-4">Amount:</h5>
        <div *ngFor="let offset of result.offset_prices">
          <p class="result-footprint mb-3 ef-text" *ngIf="offset.locale !== 'de-DE'">{{ offset.amount }} {{ offset.currency }}</p>
        </div>
      </div>
    </p-card>

    <div class="row">
      <div class="col-md-12 text-center mt-5 pb-5">
        <button type="submit" class="btn mt-3 ef-btn-cta" (click)="goBack()">Back</button>
      </div>
    </div>
  </div>


  <div *ngIf="isLoading">
    <p-progressSpinner></p-progressSpinner>
  </div>

</div>

