@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "~@ng-select/ng-select/themes/default.theme.css";

:root {
  --ef-primary: #166088;
  --ef-secondary: #4A6FA5;
  --ef-light: #DBE9EE;
  --ef-medium: #C0D6DF;
  --ef-dark: #4F6D7A;
}

html, body {
  height: 100%;
  margin: 0;
  background-color: var(--ef-light);
}

.ef-title {
  color: var(--ef-primary);
}

.ef-text {
  color: var(--ef-dark);
}

.ef-form-label {
  margin: 16px 0 6px 8px;
  color: var(--ef-dark);
}

.ef-form {
  .form-control {
    color: var(--ef-dark);

    &:focus {
      border-color: var(--ef-dark);
      box-shadow: 0 0 0 .25rem rgba(0, 74, 111, 0.24);;
    }
  }
}

.ef-btn-cta {
  color: var(--ef-light) !important;
  background-color: var(--ef-secondary) !important;
  padding: 0 30px 0 30px !important;
  height: 6vh;
  font-size: 18px;
}

  .p-card-title {
    color: var(--ef-primary) !important;
    text-align: center !important;
  }


